:root {
  --main-bg-color: rgb(0, 0, 32);
  --nav-bg-color: rgb(0, 0, 43);
  --highlight-color: rgb(163, 163, 238);
  --purple-color: rgb(180, 108, 248);
  --text-color: white;
  --gray-color: gray;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg-color);
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 80px;
  background-color: var(--nav-bg-color);
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: var(--text-color);
  transition: color 0.3s, font-size 0.3s;
}

nav ul li a:hover {
  color: var(--highlight-color);
  font-size: 1.01rem;
}

.brand {
  font-size: 1.5rem;
}

.firstSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 140px 20px;
  flex-wrap: wrap;
}

.leftSection {
  font-size: 2.5rem;
  max-width: 40%;
}

.rightSection img {
  width: 100%;
  max-width: 500px;
}

.text-purple {
  color: var(--purple-color);
}

#element {
  color: rgb(173, 88, 252);
}

.secondSection {
  max-width: 80vw;
  margin: auto;
  height: 80vh;
  text-align: center;
}

hr {
  border: 0;
  background: var(--highlight-color);
  height: 1.2px;
  margin: 60px auto;
}

.secondSection h1 {
  font-size: 1.9rem;
}

.text-gray {
  color: var(--gray-color);
}

.box {
  background: var(--text-color);
  width: 80vw;
  height: 2px;
  margin: 56px auto;
  display: flex;
  justify-content: space-around;
}

.vertical {
  height: 93px;
  width: 1px;
  background-color: var(--text-color);
}

footer {
  background-color: var(--nav-bg-color);
  padding: 20px 0;
  text-align: center;
  color: var(--text-color);
  position: relative;
  width: 100%;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-links a {
  margin: 0 15px;
  text-decoration: none;
  color: var(--text-color);
  font-size: 1rem;
  transition: color 0.3s;
}

.social-links a:hover {
  color: var(--highlight-color);
}

footer p {
  margin-top: 10px;
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .firstSection {
      flex-direction: column;
      alig
