* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(0, 0, 32);
  color: white;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  flex: 0 0 auto;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: rgb(0, 0, 43);
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 0 23px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  color: rgb(163, 163, 238);
  font-size: 1.01rem;
}

.left {
  font-size: 1.5rem;
}

main {
  flex: 1 0 auto;
}

main hr {
  border: 0;
  background: rgb(163, 163, 238);
  height: 1.2px;
  margin: 60px 84px;
}

.firstSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 140px 0;
}

.firstSection>div {
  width: 30%;
}

.leftSection {
  font-size: 2.5rem;
}

.leftSection .btn {
  padding: 12px;
  background-color: #26266e;
  color: white;
  border: 2px solid white;
  border-radius: 6px;
  font-size: 20px;
  cursor: pointer;
}

.leftSection .btn:hover {
  background-color: rgb(40, 40, 112);
  border-color: rgb(163, 163, 238);
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.leftSection .buttons {
  padding: 50px 0;
}

.rightSection img {
  width: 80%;
}

.text-purple {
  color: rgb(180, 108, 248);
}

#element {
  color: rgb(173, 88, 252);
}

.secondSection {
  max-width: 80vw;
  margin: auto;
  height: 80vh;
}

.secondSection h1 {
  font-size: 1.9rem;
}

.text-gray {
  color: rgb(160, 160, 160);
}

.secondSection .box {
  background: white;
  width: 80vw;
  height: 2px;
  margin: 56px 0;
  display: flex;
}

.secondSection .vertical {
  height: 93px;
  width: 1px;
  background-color: white;
  margin: 0 150px;
}

.image-top {
  width: 23px;
  position: relative;
  top: -32px;
  right: 12px;
}

.vertical-title {
  position: relative;
  top: 69px;
  width: 180px;
  right: 3px;
}

.vertical-desc {
  position: relative;
  top: 74px;
  color: rgb(160, 160, 160);
  width: 180px;
  font-size: 12px;
  right: 3px;
}

.image-bottom {
  width: 20px;
  position: relative;
  top: 4px;
  right: 8px;

}

footer {
  background-color: rgb(0, 0, 43);
  padding: 20px 0;
  text-align: center;
  color: white;
  width: 100%;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-links a {
  margin: 0 15px;
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.social-links a:hover {
  color: rgb(163, 163, 238);
}

footer p {
  margin-top: 10px;
  font-size: 0.9rem;
}